@font-face {
  font-family: "Margin";
  src: url(../fonts/margin.otf);
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.navbar {
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #f9f9f9;
  box-shadow: -1px 2px 29px 4px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: -1px 2px 29px 4px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -1px 2px 29px 4px rgba(0, 0, 0, 0.14);
  z-index: 4000;
}
.navbar #active {
  text-decoration: underline;
}

#logo {
  height: 5rem;
  width: auto;
  margin: 0.3vw 0vw 0.3vw 0.3vw;
}

#hero {
  height: 36.5vw;
  width: 100%;
  background-color: #ffc3e7;
  margin-bottom: 3.1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}
#hero img {
  height: max-content;
  width: 24%;
  padding-right: 5%;
}
#hero p {
  color: #839e14;
  font-size: 2vw;
  font-weight: bold;
}

#hero2 {
  height: 29vw;
  width: 100%;
  background-color: #ffc3e7;
  margin-bottom: 3.1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

h1 {
  color: #a9262c;
  font-family: "Margin";
  font-size: 8vw;
  letter-spacing: 0.5vw;
}

.maroon {
  color: #a9262c !important;
  font-weight: 600;
}

body {
  background-color: #f9f9f9;
}

#quienesSomos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0vh 8vw;
  margin-bottom: 3.1vw;
}
#quienesSomos img {
  height: max-content;
  width: 38%;
}

#quienesText {
  text-align: justify;
  margin-left: 2vw;
  padding: 0vw 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#quienesText h2 {
  text-align: center;
  margin-bottom: 1vw;
}

#indexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.index-box {
  width: 50%;
  padding: 2vw 1vw 1vw 1vw;
  margin: 0vw 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index-box img {
  width: 80%;
  height: auto;
  margin: 1.5vw 0vw;
}
.index-box p {
  padding: 0vw 4vw;
  text-align: justify;
}

.button {
  width: auto;
  height: 2vw;
  color: #000000;
  font-weight: 600;
  background-color: #f08bc8;
  margin: 1.5vw 0vw;
  padding: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.button:hover {
  scale: 1.1;
  transition: all 0.3s ease;
  color: #000000;
}

.carta-column {
  padding: 1vw 0vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carta-column h2 {
  display: flex;
  justify-content: center;
}
.carta-column h3 {
  font-size: 1.5vw;
}

.carta-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.producto-individual {
  display: flex;
  flex-direction: column;
  margin: 1.03vw;
}
.producto-individual img {
  height: auto;
  width: 18vw;
}

.menu-buttons {
  font-size: 1.3vw;
  display: flex;
  justify-content: center;
}

.price {
  width: 50%;
  color: #000000;
  margin: 2vw 0%;
  background-color: #f08bc8;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3000;
}
.price:hover {
  display: none;
}

.details {
  width: 9%;
  color: #000000;
  margin: 2vw 0%;
  background-color: #e7a924;
  display: flex;
  justify-content: center;
  position: absolute;
}

.light-gray {
  background-color: #eeeeee;
}

.dark-gray {
  background-color: #e0e0e0;
}

#carta-mobile {
  display: none;
}

.gallery-images {
  height: auto;
  width: 100%;
}

#sorteoMensual {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 8vw;
  margin-bottom: 3vw;
}

#carrotCake {
  width: 35%;
  height: fit-content;
}

#sorteoMensualColumn {
  text-align: justify;
  margin-left: 2vw;
  padding: 0vw 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inscripcion {
  margin: 0vw 15vw 0vw 8.5vw;
}

#formularioDeInscripcion {
  background-color: #eeeeee;
  width: 110%;
  padding-top: 1vw;
}

.form-control {
  width: 97.7%;
  margin: 0vw 1vw;
  border-style: inset;
}
.form-control:hover {
  border: solid 0.2vh #f08bc8;
}

.form-label {
  font-weight: bold;
  margin: 0vw 1vw;
}

#formButton {
  margin-top: 1vw;
  display: flex;
  justify-content: start;
}

#sendButton {
  width: auto;
  color: #000000;
  font-weight: 600;
  background-color: #f08bc8;
  margin: 0vw 0vw 1vw 1vw;
  padding: 1vh 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all 0.3s ease;
}
#sendButton:hover {
  scale: 1.1;
  transition: all 0.3s ease;
  color: #000000;
}

#upperContact {
  display: flex;
  flex-direction: row;
}
#upperContact p {
  margin-bottom: 1vw;
}

.upper-contacto-box {
  width: 90%;
  padding: 1vw;
  margin: 0vw 3vw 1vw 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactoMap {
  width: 100%;
}

#socials p {
  margin-bottom: 1.5vw;
}
#socials img {
  width: 10%;
  height: auto;
  padding-right: 1vw;
  margin-bottom: 1.25vw;
  transition: all 0.3s ease;
}
#socials img:hover {
  scale: 1.2;
  transition: all 0.3s ease;
}

#contacto {
  margin: 0vw 4vw;
}

#formularioDeContacto {
  background-color: #eeeeee;
  width: 100%;
  padding-top: 1vw;
}

#upperFooter {
  height: 309px;
  width: 100%;
  background-color: #ffc3e7;
  margin-top: 3.1vw;
  display: flex;
  flex-direction: row;
}
#upperFooter iframe {
  padding: 1vh;
  width: 24%;
}
#upperFooter img {
  height: 25%;
  width: auto;
  opacity: 0.7;
  transition: all 0.3s ease;
}
#upperFooter img:hover {
  scale: 1.1;
  opacity: 1;
  transition: all 0.3 ease;
}
#upperFooter a {
  padding-right: 2.5%;
}

#socialsFooter {
  width: 74.2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: right;
  margin-right: 3vw;
}

#lowerFooter {
  height: auto;
  width: 100%;
  background-color: #f08bc8;
  display: flex;
  align-items: center;
}
#lowerFooter p {
  margin: 0.3% 0.7%;
  font-size: 90%;
}

@media (max-width: 576px) {
  #logo {
    height: 4rem;
  }
  .navbar {
    height: auto;
  }
  #hero {
    height: 70vw;
    flex-direction: column;
    margin-top: 5.5rem;
  }
  #hero img {
    width: 30%;
  }
  #hero h1 {
    font-size: 12vw;
  }
  #hero p {
    text-align: center;
    font-size: 4vw;
  }
  #hero2 {
    height: 24vh;
    margin-top: 5.5rem;
  }
  #quienesSomos {
    flex-wrap: wrap;
  }
  #quienesSomos img {
    height: max-content;
    width: 100%;
    margin: 3vh 0vw 2vh 0vw;
  }
  #quienesText h2 {
    margin-bottom: 2vh;
  }
  #indexRow {
    flex-wrap: wrap;
  }
  .index-box {
    width: 100%;
    margin-bottom: 4vh;
    padding: 4vw 0vw 6vw 0vw;
  }
  .index-box p {
    padding: 3vw 9vw;
  }
  .button {
    height: 6vh;
  }
  #carta-desktop {
    display: none;
  }
  #carta-mobile {
    display: flex;
    margin: 4vh 0vw;
  }
  .card {
    margin: 4vw;
    height: 100%;
  }
  .carta-column h2 {
    margin: 5vw 0vh 0vw 0vw;
  }
  .btn-primary {
    --bs-btn-color: $senary-color;
    --bs-btn-bg: $tertiary-color;
    --bs-btn-border-color: $tertiary-color;
    --bs-btn-hover-color: $senary-color;
    --bs-btn-hover-bg: $quinary-color;
    --bs-btn-hover-border-color: $quinary-color;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: $senary-color;
    --bs-btn-active-bg: $tertiary-color;
    --bs-btn-active-border-color: $tertiary-color;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: $senary-color;
    --bs-btn-disabled-bg: $tertiary-color;
    --bs-btn-disabled-border-color: $tertiary-color;
    border-radius: 0;
    width: 100%;
  }
  .carousel {
    padding-bottom: 5vh;
  }
  .carousel-indicators {
    top: 89%;
  }
  .carousel-indicators .nonactive {
    background-color: #ffc3e7 !important;
  }
  .carousel-indicators .active {
    background-color: #f08bc8 !important;
  }
  .carousel-control-prev {
    top: -20%;
  }
  .carousel-control-next {
    top: -20%;
  }
  #sorteoMensual {
    flex-wrap: wrap-reverse;
    padding-left: 0vw;
  }
  #sorteoMensualColumn {
    margin: 3vh 0vw 4vh 0vw;
  }
  #carrotCake {
    width: 84.5%;
    margin-bottom: 1vh;
  }
  #formularioDeInscripcion {
    margin-bottom: 4vh;
    padding: 2vh;
  }
  #sendButton {
    justify-content: center;
  }
  #formButton {
    justify-content: center;
  }
  #upperContact {
    flex-wrap: wrap;
    margin-top: 3vh;
    justify-content: center;
  }
  #contactoMap {
    width: 100%;
  }
  #socialMedia {
    margin: 4vh 0vh 5vh 0vw;
    display: flex;
  }
  #socialMedia p {
    margin-bottom: 2vh;
  }
  #socials {
    margin-bottom: 1vh;
    text-align: center;
  }
  #socials img {
    width: 20%;
    margin-bottom: 2vh;
  }
  #formularioDeContacto {
    margin-bottom: 4vh;
    padding: 2vh;
  }
  #upperFooter {
    flex-direction: column;
    align-items: center;
  }
  #upperFooter iframe {
    width: 90%;
    height: 70%;
  }
  #upperFooter img {
    height: 6vh;
  }
  #socialsFooter {
    justify-content: center;
    margin-top: 2vh;
  }
  #lowerFooter p {
    font-size: 80%;
  }
}

/*# sourceMappingURL=app.css.map */
