.menu-column {
  padding: 2vw 0vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    display: flex;
    justify-content: center;
    padding: 2vh;
    font-size: 5vh;
    @include mediaquery-mobile() {
      margin: 5vw 0vh 0vw 0vw;
      font-size: 4vh;
    }
  }
  h3 {
    font-size: 1.5vw;
  }
}

.menu-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.individual-product {
  display: flex;
  flex-direction: column;
  margin: 1.03vw;
  img {
    height: auto;
    width: 18vw;
  }
  h3 {
    align-self: center;
  }
}

#menu-desktop {
  @include mediaquery-mobile() {
    display: none;
  }
}

#menu-mobile {
  display: none;
  @include mediaquery-mobile() {
    display: flex;
    margin: 4vh 0vw;
  }
  .card {
    margin: 4vw;
    height: 100%;
  }
  .carousel {
    @include mediaquery-mobile() {
      padding-bottom: 5vh;
    }
  }
  .carousel-indicators {
    @include mediaquery-mobile() {
      top: 89%;
    }
  }
  .carousel-indicators .nonactive {
    @include mediaquery-mobile() {
      background-color: map-get($colors, secondary) !important;
    }
  }
  .carousel-indicators .active {
    @include mediaquery-mobile() {
      background-color: map-get($colors, tertiary) !important;
    }
  }
  .carousel-control-prev {
    @include mediaquery-mobile() {
      top: -20%;
    }
  }
  .carousel-control-next {
    @include mediaquery-mobile() {
      top: -20%;
    }
  }
}
