.carta-column {
  padding: 1vw 0vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    display: flex;
    justify-content: center;
    @include mediaquery-mobile() {
      margin: 5vw 0vh 0vw 0vw;
    }
  }
  h3 {
    font-size: 1.5vw;
  }
}

.carta-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.producto-individual {
  display: flex;
  flex-direction: column;
  margin: 1.03vw;
  img {
    height: auto;
    width: 18vw;
  }
}

#carta-desktop {
  @include mediaquery-mobile() {
    display: none;
  }
}

#carta-mobile {
  display: none;
  @include mediaquery-mobile() {
    display: flex;
    margin: 4vh 0vw;
  }
  .card {
    margin: 4vw;
    height: 100%;
  }
  .btn-primary {
    @include mediaquery-mobile() {
      --bs-btn-color: map-get($colors, senary);
      --bs-btn-bg: map-get($colors, tertiary);
      --bs-btn-border-color: map-get($colors, tertiary);
      --bs-btn-hover-color: map-get($colors, senary);
      --bs-btn-hover-bg: map-get($colors, quinary);
      --bs-btn-hover-border-color: map-get($colors, quinary);
      --bs-btn-focus-shadow-rgb: 49, 132, 253;
      --bs-btn-active-color: map-get($colors, senary);
      --bs-btn-active-bg: map-get($colors, tertiary);
      --bs-btn-active-border-color: map-get($colors, tertiary);
      --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      --bs-btn-disabled-color: map-get($colors, senary);
      --bs-btn-disabled-bg: map-get($colors, tertiary);
      --bs-btn-disabled-border-color: map-get($colors, tertiary);
      border-radius: 0;
      width: 100%;
    }
  }
  .carousel {
    @include mediaquery-mobile() {
      padding-bottom: 5vh;
    }
  }
  .carousel-indicators {
    @include mediaquery-mobile() {
      top: 89%;
    }
  }
  .carousel-indicators .nonactive {
    @include mediaquery-mobile() {
      background-color: map-get($colors, secondary) !important;
    }
  }
  .carousel-indicators .active {
    @include mediaquery-mobile() {
      background-color: map-get($colors, tertiary) !important;
    }
  }
  .carousel-control-prev {
    @include mediaquery-mobile() {
      top: -20%;
    }
  }
  .carousel-control-next {
    @include mediaquery-mobile() {
      top: -20%;
    }
  }
}
