.gallery-column {
  background-color: transparent;
  position: relative;
  .gallery-images {
    height: auto;
    width: 100%;
  }
}

.overlay {
  width: 99%;
  height: 100%;
  margin-left: 0.5%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  transition: all 0.8s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mediaquery-mobile() {
    width: 95%;
    margin-left: 2.5%;
  }
  img {
    width: 12%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
      brightness(102%) contrast(105%);
    display: none;
    padding: 0vh 0.4vw;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.8s ease;
    img {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
        brightness(102%) contrast(105%);
      display: inline;
      @include mediaquery-mobile() {
        width: 20%;
      }
    }
  }
}
