#hero {
  height: 36.5vw;
  width: 100%;
  background-color: $secondary-color;
  margin-bottom: 3.1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  @include mediaquery-mobile() {
    height: 70vw;
    flex-direction: column;
    margin-top: 5.5rem;
  }
  img {
    height: max-content;
    width: 24%;
    padding-right: 5%;
    @include mediaquery-mobile() {
      width: 30%;
    }
  }
  h1 {
    @include mediaquery-mobile() {
      font-size: 12vw;
    }
  }
  p {
    color: $quaternary-color;
    font-size: 2vw;
    font-weight: bold;
    @include mediaquery-mobile() {
      text-align: center;
      font-size: 4vw;
    }
  }
}

#quienesSomos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0vh 8vw;
  margin-bottom: 3.1vw;
  @include mediaquery-mobile() {
    flex-wrap: wrap;
  }
  img {
    height: max-content;
    width: 38%;
    @include mediaquery-mobile() {
      height: max-content;
      width: 100%;
      margin: 3vh 0vw 2vh 0vw;
    }
  }
}

#quienesText {
  text-align: justify;
  margin-left: 2vw;
  padding: 0vw 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    text-align: center;
    margin-bottom: 1vw;
    @include mediaquery-mobile() {
      margin-bottom: 2vh;
    }
  }
}

#indexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include mediaquery-mobile() {
    flex-wrap: wrap;
  }
}

.index-box {
  width: 50%;
  padding: 2vw 1vw 1vw 1vw;
  margin: 0vw 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mediaquery-mobile() {
    width: 100%;
    margin-bottom: 4vh;
    padding: 4vw 0vw 6vw 0vw;
  }
  img {
    width: 80%;
    height: auto;
    margin: 1.5vw 0vw;
  }
  p {
    padding: 0vw 4vw;
    text-align: justify;
    @include mediaquery-mobile() {
      padding: 3vw 9vw;
    }
  }
}
