#upperFooter {
  height: 17vh;
  width: 100%;
  background-color: map-get($colors, secondary);
  margin-top: 3.1vw;
  display: flex;
  flex-direction: row;
  @include mediaquery-mobile() {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  p {
    width: 100%;
    align-self: center;
    padding: 1.5vh 0vh 0vh 0.8vw;
    @include mediaquery-mobile() {
      font-size: 95%;
      padding-top: 3vh;
      text-align: center;
      margin-bottom: 0;
    }
  }
  #clickHere {
    padding-right: 0% !important;
    color: map-get($colors, quaternary);
  }
  img {
    height: 48%;
    width: auto;
    opacity: 0.7;
    transition: all 0.3s ease;
    &:hover {
      scale: 1.1;
      opacity: 1;
      transition: all 0.3 ease;
    }
    @include mediaquery-mobile() {
      height: 10vh;
      padding-bottom: 3vh;
    }
  }
  a {
    padding-right: 2%;
    @include mediaquery-mobile() {
      padding-right: 2%;
    }
  }
}

#socialsFooter {
  width: 74.2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: right;
  margin-right: 4vw;
  @include mediaquery-mobile() {
    justify-content: center;
    margin-top: 1vh;
    margin-right: 0vw;
  }
}

#lowerFooter {
  height: auto;
  width: 100%;
  background-color: map-get($colors, tertiary);
  display: flex;
  align-items: center;
  p {
    margin: 0.3% 0.7%;
    font-size: 90%;
    @include mediaquery-mobile() {
      font-size: 80%;
    }
  }
}
