.navbar {
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: map-get($bk-colors, white-gray);
  box-shadow: -1px 2px 29px 4px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: -1px 2px 29px 4px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -1px 2px 29px 4px rgba(0, 0, 0, 0.14);
  z-index: 4000;
  @include mediaquery-mobile() {
    height: auto;
  }
  #active {
    text-decoration: underline;
  }
}

#logo {
  height: 5rem;
  width: auto;
  margin: 0.3vw 0vw 0.3vw 0.3vw;
  transition: all 0.3s ease;
  @include mediaquery-mobile() {
    height: 4rem;
  }
  &:hover {
    scale: 1.1;
    transition: all 0.3s ease;
  }
}
