* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.light-gray {
  background-color: map-get($bk-colors, light-gray);
}

.dark-gray {
  background-color: map-get($bk-colors, dark-gray);
}

body {
  background-color: map-get($bk-colors, white-gray);
}

#hero2 {
  height: 29vw;
  width: 100%;
  background-color: map-get($colors, secondary);
  margin-bottom: 3.1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  @include mediaquery-mobile() {
    height: 24vh;
    margin-top: 5.5rem;
  }
}

h1 {
  color: map-get($colors, primary);
  font-family: "Margin";
  font-size: 8vw;
  letter-spacing: 0.5vw;
}

.maroon {
  color: map-get($colors, primary) !important;
  font-weight: 600;
}
