@each $color-name, $color in $colors {
  .button-#{$color-name} {
    background-color: $color;
    color: map-get($colors, senary);
    display: flex;
    justify-content: center;
  }
}

.button {
  width: auto;
  height: 2vw;
  font-weight: 600;
  margin: 2.5vw 0vw 0vw 0vw;
  padding: 2vh;
  align-items: center;
  transition: all 0.3s ease;
  @include mediaquery-mobile() {
    height: 6vh;
  }
  &:hover {
    scale: 1.1;
    transition: all 0.3s ease;
    color: map-get($colors, senary);
  }
}

.menu-buttons {
  font-size: 1.3vw;
  display: flex;
  justify-content: center;
}

.price {
  width: 50%;
  margin: 2vw 0%;
  position: relative;
  z-index: 3000;
  &:hover {
    display: none;
  }
}

.details {
  width: 9%;
  margin: 2vw 0%;
  position: absolute;
}

.btn-primary {
  @include mediaquery-mobile() {
    --bs-btn-color: map-get($colors, senary);
    --bs-btn-bg: #e7a924;
    --bs-btn-border-color: map-get($colors, quinary);
    --bs-btn-hover-color: map-get($colors, senary);
    --bs-btn-hover-bg: #e7a924;
    --bs-btn-hover-border-color: map-get($colors, quinary);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: map-get($colors, senary);
    --bs-btn-active-bg: map-get($colors, quinary);
    --bs-btn-active-border-color: map-get($colors, quinary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: map-get($colors, senary);
    --bs-btn-disabled-bg: map-get($colors, quinary);
    --bs-btn-disabled-border-color: map-get($colors, quinary);
    border-radius: 0;
    width: 100%;
  }
}

#formButton {
  margin-top: 1vw;
  display: flex;
  justify-content: start;
  @include mediaquery-mobile() {
    justify-content: center;
  }
}

#sendButton {
  width: auto;
  font-weight: 600;
  margin: 0vw 0vw 1vw 1vw;
  padding: 1vh 2vh;
  align-items: center;
  border: none;
  transition: all 0.3s ease;
  &:hover {
    scale: 1.1;
    transition: all 0.3s ease;
    color: map-get($colors, senary);
  }
}
