/* Error: Undefined mixin.
 *   ,
 * 4 | /   @include mediaquery-mobile() {
 * 5 | |     flex-wrap: wrap;
 * 6 | |     margin-top: 3vh;
 * 7 | |     justify-content: center;
 * 8 | \   }
 *   '
 *   scss\pages\contacto.scss 4:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 4 \2502  \250c    @include mediaquery-mobile() {\a 5 \2502  \2502      flex-wrap: wrap;\a 6 \2502  \2502      margin-top: 3vh;\a 7 \2502  \2502      justify-content: center;\a 8 \2502  \2514    }\a   \2575 \a   scss\\pages\\contacto.scss 4:3  root stylesheet";
}
