$colors: (
  primary: #a9262c,
  secondary: #ffc3e7,
  tertiary: #f08bc8,
  quaternary: #839e14,
  quinary: #e7a924,
  senary: #000000,
);

$bk-colors: (
  white-gray: #f9f9f9,
  light-gray: #eeeeee,
  dark-gray: #e0e0e0,
);
